@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'SUIT-Medium';
}

a{
    color: black;
}
input{
    width: 250px;
    height: 30px;
}

.navbar{
	background-image: url('https://images.unsplash.com/photo-1564500617448-e541b1df7cee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
	background-size : cover;  
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
    flex-wrap: wrap;
}

.navbar .logo a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
  margin-right: 200px;
}




/* 서치박스 */
.search_box{
  width: 400px;
  background: #fff;
  border-radius: 5px;
  height: 50px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.search_box .dropdown{
  width: 230px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}
.search_box .dropdown .default_option{
  text-transform: uppercase;
  padding: 7px 12px;
  font-size: 12px;
}

.search_box .dropdown ul{
    position: absolute;
    top: 50x;
    left: -10px;
    background: #fff;
    width: 160px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    text-align: center;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.search_box .dropdown ul.active{
  display: block;
}

.search_box .dropdown ul li{
  padding-bottom: 20px;
}

.search_box .dropdown ul li:last-child{
  padding-bottom: 0;
}

.search_box .dropdown ul li:hover{
  color: #6f768d;
}

.search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 20px;
  border: 8px solid;
  border-color: #5078ef transparent transparent transparent;
}

.search_box .search_field{
  width: 350px;
  height: 100%;
  position: relative;
}
.search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.search_box .search_field .fas{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}
/* 오른쪽메뉴 */
.navbar .nav_right > ul{
	display: flex;
	align-items: center;
}

.navbar .nav_right ul li.nr_li{
	margin-left: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	position: relative;
}

.navbar .nav_right ul li.nr_li:hover {
    color: #cefffc;
    
}

.navbar .nav_right ul li img{
	width: 35px;
    height: 35px;
	vertical-align: middle;
  border-radius: 50px;
}

.navbar .dd_menu {
    position: absolute;
    right: -25px;
    top: 47px;
    display: flex;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    display: none;
}

.navbar .dd_menu .dd_left{
	background: #30333A;
	padding: 15px 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.navbar .dd_menu .dd_left li{
	color: #fff;
}

.navbar .dd_menu .dd_right{
	padding: 15px 20px;
}

.navbar .dd_menu li{
	margin-bottom: 10px;
	color: #868686;
}

.navbar .dd_menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 30px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
}

.navbar .dd_main.active .dd_menu{
	display: flex;
}



/* 질문하기 버튼입니다..,,, */
.btn_wraper{
  display: flex;
  flex-wrap: wrap;
}

.btn_wraper .btn{
  margin: 15px;
  border: 2px solid #fff;
  width: 150px;
  height: 45px;
  border-radius: 15px;
  text-align: center;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}

.btn_wraper .btn a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  position: relative;
  z-index: 999;
  font-weight: bold;
  transition: all 0.5s ease;
}

.btn_wraper .btn a:hover{
  color: #30333A;
}

.btn_wraper .btn.btn_1:before{
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.btn_wraper .btn.btn_1:after{
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.btn_wraper .btn.btn_1:hover:before{
  top: -20px;
}
.btn_wraper .btn.btn_1:hover:after{
  top: 20px;
}

@media screen and (max-width:768px) {    
  .navbar {
    display: flex;
    height: 150px;
    flex-direction: row;
  }
  .nr_li {
    flex-direction: column;
  }

}




.container1{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #f5f5f5;
    margin: 100px auto 0 auto;
    background: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info_head{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 15px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    
}
.info_haed_nav{
    flex-direction: column;
    padding-left: 0;
    text-align: center;
    padding: 30px;
}
.info_head_profile{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}
.info_head_profile img{
    width: 100%;
    height: 100%;
}
.info_head_link{
    font-size: 50px;
    padding: 30px;
}

.info_main{
    width: 90%;
    margin: 15px auto;
}
.main_item1{
    min-height: 150px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 35px;
    background: white;
    border-radius: 5px;
}
.main_item1_head{

    font-weight: bold;
    margin: 0;
    padding: 15px;
}
.main_item1_head li{
    margin-left: 5px;
}
.main_item1_body{
    border-top:1px solid #f5f5f5;
    height: 70%;
    padding: 15px;
}
.main_item2{
    display: flex;
    height: 90px;
}
.main_item2_quetion{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.que_title{
    flex-direction: column;
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-left: 0;
}
.que_body{
    font-size: 35px;
    color: #1b5e20;
}

.main_item2_answer{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.main_item2_answer:hover{
    background: black;
    color: white;
}
.main_item2_quetion:hover{
    background: black;
    color: white;
}
.ans_title{
    flex-direction: column;
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-left: 0;
}
.ans_body{
    font-size: 35px;
    font-weight: bold;
    color: #01579b;
}


.main_item2_answer{
    flex: 1;
    margin-left: 15px;
    background: white;
}
.main_itembox{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-weight: bold;
    background: #fafafa;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.main_itembox span{
    font-size: 35px;
    color: #01579b;
}
.main_itembox:hover{
    background: black;
    color: white;
}


.container2{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #f5f5f5;
    margin:0 auto 100px auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.infobox{
    width:90%;
    margin:15px auto;
    padding: 15px;
    border-bottom: 1px solid white;
}

.infobox_body{
    margin-top: 15px;
}
.infobox_body p{
    margin-bottom: 15px;
}
.infobox_head{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-weight: bold;
}
.infobox_head2{
    padding-left: 0;
    font-weight: bold;
}
.language-select{
    display: flex;
    justify-content: flex-end;
}
.itembox_list{
    padding-left:0;
    margin:0;
    font-size: 24px;
}

.btn_container{
    width: 80%;
    margin: 100px auto;
    text-align: center;
}
.btn_item1{
    width: 140px;
    height: 45px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 15px;
}
.btn_item2{
    width: 140px;
    height: 45px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 15px;
}
.btn_item1:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.btn_item2:hover {
    background-color: #ff1744;
    box-shadow: 0px 15px 20px rgba(241, 3, 3, 0.377);
    color: #fff;
    transform: translateY(-7px);
}

