:root{
    --text-color:#263343;
    --background-color:#bbdefb;
    --accent-color:#fafafa;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color:var(--text-color);
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #227cc3;
    padding:8px 16px;
}
.navbar_icon{
    font-size: 20px;
}
.navbar_icon i{
    color: var(--accent-color);
}
.navbar_menu{
    display: flex;
    list-style: none;
    font-size: 18px;
    padding-left: 0;
    
}
.navbar_menu li{
    padding: 8px 16px;
}
.navbar_menu li:hover{
    background-color: #fce4ec;
    border-radius: 15px;
}
.navbar_linkicon{
    list-style: none;
    display: flex;
    padding-left: 0;
    
}
.navbar_linkicon li{
    padding:8px 12px;
}
.navbar_linkicon li:hover{
    background-color: #fce4ec;
    border-radius: 15px;
}
.navbar_togglebtn{
    position: absolute;
    right: 20px;
    font-size: 24px;
    display: none;
}
.navbar_togglebtn i{
    color: #fafafa;
}
.toptext1{
    position: absolute;
    right: 50px;
    font-size: 50px;
    color:white;
    opacity: 0.5;
    text-shadow: 1px 1px 3px white;
}
.toptext2{
    position: absolute;
    font-size: 32px;
    color: white;
    top: 50px;
    right: 50px;
    opacity: 0.5;
}

.backcol{
    height: 450px;
    background: rgb(253,187,45);
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(172,139,65,1) 0%, rgba(34,124,195,1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.topimg{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    opacity: 0.5;
    
}

.custom-shape-divider-bottom-1660478165 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660478165 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 132px;
}

.custom-shape-divider-bottom-1660478165 .shape-fill {
    fill: #FFFFFF;
}


@media screen and (max-width:768px) {    
    .navbar{
        flex-direction: column;
        padding:8px 20px;
        align-items: flex-start;
    }
    .navbar_menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    
    }
    .navbar_menu li{
        text-align: center;
        width: 100%;
    }
    .navbar_linkicon{
        justify-content:center ;
        width: 100%;
        display: none;
    }
    .navbar_togglebtn{
        display: flex;
    }
    .navbar_menu.active{
        display: flex;
    }
    .navbar_linkicon.active{
        display: flex;
    }
    .backcol{
        
        flex-direction: column;
    }
    .toptext1{
        
        font-size: 32px;
        padding: 30px 15px;
    }
    .toptext2{
        position: absolute;
        top: 90px;
        
        
        font-size: 24px;
        
    }
}