@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
:root{
    --text-color:#263343;
    --background-color:#bbdefb;
    --accent-color:#fafafa;
}
body{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:var(--text-color);
    
}
svg{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 16px;
}
.navbar_icon{
    font-size: 24x;
}
.navbar_icon i{
    color: var(--accent-color);
}
.navbar_menu{
    list-style: none;
    font-size: 18px;
    padding-left: 0;
    display: none;
}
.navbar_menu li{
    padding: 8px 16px;
}
.navbar_menu li:hover{
    background-color: #f5f5f5;
    border-radius: 15px;
}
.navbar_linkicon{
    list-style: none;
    display: flex;
    padding-left: 0;
    
}
.navbar_linkicon li{
    padding:8px 12px;
}
.navbar_linkicon li:hover{
    background-color: #f5f5f5;
    border-radius: 15px;
}
.navbar_togglebtn{
    position: absolute;
    right: 20px;
    font-size: 24px;
    display: none;
}
.navbar_togglebtn i{
    color: #fafafa;
}
.tap{
    margin: 300px;
}





/* 배너 */
.backcol{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1564500617448-e541b1df7cee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
	background-size : cover;  
    width: 100%;
    margin-bottom: 150px;
}
.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 2rem;
    margin: auto;
	max-width: 960px;
	text-align: center;
}
.title .smallsep {
	background: #fff;
	height: 2px;
	width: 70px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title h1 {
	font-size: 70px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.85;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
.title h2 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
}

/* 전등있는 소개글 */
.topline{
    margin: 150px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.topline_text{
    font-size: 50px;
    font-weight: 300;
}
.topline_img{
    width:100px;
    position: relative;
    top:-26px;
    left: 750px;    
}

/* 소개영역 */
.middleBx{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    min-height:600px;
}
.box{
    position: relative;
    width:300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}
.box:hover{
    height: 400px;
}
.box .imgBx{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    
}
.box .imgBx img{
    max-width: 100%;
    opacity: 0.3;
    transition: 0.5s;
}
.box .imgBx img:hover{
    opacity:1;
}
.box:before{
    content: '';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    z-index: -2;
    
}
.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom:10px;
    height: 90px;
    background: rgba(0, 0, 0, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content{
    opacity: 1;
    transition: 0.5s;
}
.box .content h2{
    font-size: 20px;
    color:#fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

/* 카드영역입니다. */
.card_head{
    display: flex;
    flex-direction: column;   
    justify-content: end;
    align-items:flex-end;
    background: pink;
}


.card_container {
    width: 1090px;
    min-width: 600px;
    height: 430px;
    
    margin: 150px auto 150px ;
}
.card_container .card {
    width: 330px;
    height: 430px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    transition: all 0.25s;
}
.card_container .card:nth-child(2) {
    margin: 0 50px;
}
.card_container .card:hover {
    top: -15px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card_container .card h4 {
    font-weight: 600;
}
.card_container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.card_container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}



/* 회원가입 페이지 */
.signup_container{
    width: 100%;
    height: 300px;
    background: #eeeeee;
    margin: 300px auto 100px auto;
    text-align: center;
}

.signup_head h3{
    font-weight: 300;
    font-size: 60px;
    position: relative;
    color: black;
    z-index: 1;
}

.signup_body img{
    position: relative;
    top: -250px;
    
}


.check{
    opacity: 0;
    animation: 1s check-ok forwards;
    transition-timing-function: ease-in;
    animation-delay: 3.5s;
    transform-origin: 79% 25%;
}

@keyframes check-ok {
    0%{
    transform: translate(156.5 25.5);
    transform: scale(1);
    opacity: 0;
    }
        40%{
    transform: translate(156.5 25.5);
    transform: scale(1.1);
    opacity: 1;
    }  
    100%{
    transform: translate(156.5 25.5);
    transform: scale(1.1);
    opacity: 1;
    } 
}

.pass-animate {
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
.pass-1{
    animation-name: pass-1;
}

@keyframes pass-1 {
    0%{
    transform: translateX(250px);
    }
    40%{
    transform: translateX(0px);
    }
    60%{
    transform: translateX(0px);
    }  
    100%{
    transform: translateX(-230px);
    } 
}

.pass-2{
    animation-name: pass-1;
    animation-delay: 1.2s;
}

@keyframes pass-1 {
    0%{
    transform: translateX(250px);
    opacity: 1;
    }
    40%{
    transform: translateX(0px);
    opacity: 1;
    }
    60%{
    transform: translateX(0px);
    opacity: 1;
    }  
    100%{
    transform: translateX(-230px);
    opacity: 1;
    } 
}

.passOK{
    animation-name: passOK;
    animation-delay: 2.4s;
}

@keyframes passOK {
    0%{
        transform: translateX(250px);
        opacity: 1;
    }
    40%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        transform: translateX(0px);
        opacity: 1;
    }  
    100%{
        transform: translateX(0px);
        opacity: 1;
    } 
}




@media screen and (max-width:768px) {    
    .navbar{
        flex-direction: column;
        padding:8px 20px;
        align-items: flex-start;
    }
    .navbar_menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    
    }
    .navbar_menu li{
        text-align: center;
        width: 100%;
    }
    .navbar_linkicon{
        justify-content:center ;
        width: 100%;
        display: none;
    }
    .navbar_togglebtn{
        display: block;
    }
    .navbar_menu.active{
        display: flex;
    }
    .navbar_linkicon.active{
        display: flex;
    }
    .backcol{
        font-size: 5px;
    }
    .backcol h1 h2{
        font-size: 4rem;
    }
    .toptext1{
        
        font-size: 32px;
        padding: 30px 15px;
    }
    .toptext2{
        position: absolute;
        top: 90px;
        font-size: 24px;
    }
    .topline_img{
        width:100px;
        position: relative;
        top:-26px;
        left: 750px;    
    }
    svg{
        display: none;
    }
}