@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: 'SUIT-Medium';
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
} 
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 질문 리스트 s */
.questionBox{
    width: 100%;
    max-width: 700px;
    min-height: 220px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.questionBox-header{
    height:50px;
    background:#eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 6px;
}
.header-info{
    display: flex;
    align-items: center;
}
.header-info li{
    margin-left: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}
.info-img{
    overflow: hidden;
    width: 37px;
    height: 37px;
    background: #FFF;
    border-radius: 50%;
}
.questionBox-body{
    width: 100%;
    height: 150px;
    padding: 8px 16px;
    font-size: 0.8rem;
    cursor: pointer;
}
.header-date{
    font-size: 0.9rem;
}
.questionCount{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 10px;
}
.countBox{
    width: 45px;
    height: 45px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
/* 질문 리스트 e */



.prifileBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 6px;
    max-width: 600px;
    min-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.profile-head{
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
}
.profile-head_img{
    width:150px;
    border-radius: 50%;
    border: 3px solid;

}
.profile-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-body_item{
    width: 100%;
    margin-bottom: 12px;
    height: 40px;
    max-width: 400px;
    display: flex;
    background: #eeeeee;
    align-items: center;
    justify-content: space-around;
}
.profile-body_item span{
    color: red;
}
.profile-introduce{
    width: 100%;
    max-width: 400px;
    height: 100px;
    border: 1px solid #e0e0e0;
    margin: auto;
    padding: 12px 6px;
    font-size:0.8rem;
}