@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'SUIT-Medium';
    box-sizing: border-box;
    margin: 0;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}