*{
    margin: 0;
    padding: 0;
    bottom: 0;
    outline: 0;
    box-sizing: border-box;
/* 기본 초기화 */
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.search{
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    background: rgb(16, 141, 190);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.8s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.search:hover{
    width:300px;
}
.search:hover i{
    position: absolute;
    right: 15px;
    top: 12px;
}
.search:hover input{
    display: block;
    position: absolute;
    background: transparent;
    color: white;
    height: 32px;
    font-size: larger;
    top:8px;
    left:20px;
}
input{
    border: none;
}
.search input{
    display: none;
}
.search i {
    color: #fff;
    font-size: 22px;
}