@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
        * {
            box-sizing: border-box;
            font-family: 'SUIT-Medium';
            margin: 0;
            padding: 0;
        } 
        img {
            max-width: 100%;
        } 
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
        }

        table,th,td,tr{
            border-bottom: 1px solid #e0e0e0;
            border-collapse: collapse;
        }
        th{
            height: 60px;
            font-weight: bold;
            background: #eceff1;
            overflow: hidden;
            cursor: auto;
        }
        td{
            height: 30px;
            overflow: hidden;
            text-align: center;
        }


        /* 헤더영역 s */
        
        .header{
            height: 50px;
            display: flex;
            background: #000;
            justify-content: space-between;
            align-items: center;
        }
        .header-logo a{
            font-size: 1.4rem;
            margin-left: 14px;
            color: #fff;
        }

        .userwrap{
            border: 1px solid;
        }
        .header-userlist{
            display: none;
            background: red;
            position: relative;
        }
        .header-userbox{
            display: flex;
            align-items: center;
            border: 1px solid ;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 15px;
            
        }
        .user_count{
            font-size: 14px;
            color: #01579b;
        }
        .user-img {
            width: 30px;
            height: 30px;   
            border-radius: 50%;
            background: #fff;
        }
        .user-name {
            font-size: 14px;
            margin: 0 6px 0 12px;
        }/* 헤더영역 e */


/* 공통영역 */



.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    overflow: hidden;
}
/* 사이드바s */
        .sidebar {
            width: 200px;
            flex-direction: column;
            border-right: 2px solid #e0e0e0;
            background: #fff;
        }
        .sidebar-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: auto;
            border-radius: 2px;
            width: 100%;
            height: 70px;
        }
        .info-space{
            font-size: 1.2rem;
            font-weight: 700;
        }
        .info-dday{
            font-size: 0.9rem;
            color: tomato;
        }
        .side_menu_list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding-left: 0;
            font-size: 14px;
            font-weight: lighter;
        }
        .side_menu_list li{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
        }
        .side_menu_list li:hover{
            background-color: #000;
            color: #fff;
            cursor: pointer;
        }
        .side_menu_list h1{
            margin-top: 50px;
            margin-bottom: 50px;
            font-weight: bold;
            font-size: 8px;
            border-bottom: 1px solid #e0e0e0;
        }
        .side_menu_list a{
            text-decoration: none;
            color: #000;
        }


        .user_profile{
            margin: 50px auto 0px auto;
            width: 80px;
            height: 80px;
            border: 1px solid #e0e0e0;
            border-radius:50%;
            overflow: hidden;
        }
        .user_name {
            text-align: center;
            font-size: 0.9rem;   
        }
        .user_name a{
            color: #000; 
        }
        /* 메인영역 */

        .dutchTitle{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
        }
        .titleImgbox{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .titleContent{
            font-size: 1.2rem;
            font-weight: bolder;
        }

        .mainWrap h1{
            text-align: center;
            margin-top: 50px;
            font-size: 2.5rem;
        }
         /* 테이블 시작 */
        .mainWrap{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .tableWrap{
            width: 100%;
            height: 500px;
            overflow: auto;
            border: 1px solid #e0e0e0;
        }
        .tableWrap table{
            width: 100%;
        }
        .th_checkbox{
            width: 50px;
        }
        tr:hover{
            background-color: #eeeeee;
            cursor: pointer ;
        }
        .addbtnWrap{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
        }
        .addbtnWrap button{
            width: 100px;
            height: 40px;
            margin: 5px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
        }
        .addbtnWrap button:nth-child(1):hover{
            background-color: #e64a19;
            color: #fff;
        }
        .addbtnWrap .btn:hover{
            background: #1b5e20;
            color: #fff;
        }
        .modal {
            display: none;
            position: fixed;
            top: -350px;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
        }
        
        .modal-content {
            margin: 20% auto;
            max-width: 1000px;
            background-color: #fff;
            padding: 20px;
            animation: scale 0.5s ease;
            border-radius: 10px;
            box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
            100px 100px 80px rgba(0, 0, 0, 0.05);
        }
        h4{
            margin-top: 30px;
        }
        ul{
            padding-left: 0;
        }
        .modal-header h3{
            display: inline-block;
            font-size: 50px;
        }
        .modal-body {
            margin-top: 5px;
            border: 1px solid #e0e0e0;
        }
        .modal_catagory{
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .modal_catagory li{
            height: 60px;
            width: 60px;
            border: 1px solid #e0e0e0;
        }
        .list_name{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .list_name input{
            width: 300px;
            height: 30px;
            border: none;
            border-bottom: 2px solid #000;
            outline: none;
            text-align: center;
            font-weight: 300;
        }
        
        .modal_people{
            height:60px;
            display: flex;
            justify-content: space-between;
            padding: 25px;
        }
        .modal-img{
            height: 300px;
            width: 100%;
            border: 1px solid #e0e0e0;
        }
        
        .modal-btn{
            margin-top: 30px;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
        }
        .total{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 24px;
        }
        .btn button{
            width: 150px;
            height: 50px;
            border: 1px solid #e0e0e0;
        }
        .btn button:hover{
            background: #000;
            transition: all 1.1s ease;
            color: #fff;
        }
        #close-modal {
            float: right;
            font-size: 1.8rem;
            font-weight: bold;
            cursor: pointer;
            color: tomato;
        }
        @keyframes scale {
            from {
            transform: scale(0);
            }
        
            to {
                transform: scale(1);
            }
        }