*{
    margin: 0;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
}
.spaceWrap{
    margin: auto;
    width: 50%;
    display: flex;
}
.spaceEnter{
    flex: 1;
    height: 600px;
    border: 1px solid #e0e0e0;
    text-align: center;
    margin: 20px;
    padding: 15px;
}
.spaceEnter h1{
    font-size: 1.2rem;
}
.spaceEnter h2{
    font-size: 0.8rem;
    color: tomato;
}
.boardEnter{
    flex: 1;
    height: 600px;
    border: 1px solid #e0e0e0;
    text-align: center;
    margin: 20px;
    padding: 15px;   
}
.boardEnter h1{
    font-size: 1.2rem
}
.boardEnter h2{
    font-size: 0.8rem;
    color: tomato;
}
.boarditembody{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itembody{
    width: 100%;
    height: 500px;
    overflow: auto;
}

.item{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 45px;
    border: 1px solid #e0e0e0;
    margin: auto;
    margin: 5px auto;
    border-radius: 5px;
}
.item:hover{
    cursor: pointer;
}

.btnWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnWrap button{
    width: 100px;
    height: 35px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top:10px;
}
.backimg{
    margin-top: 300px;
    height: 800px;
    background: green;
    
}
.comentWrap{
    height: 5500px;
}

.coment{
    color: #000;
    text-align: center;
    margin-top: 850px;
    transition: all 3.7s;
    opacity: 0;
}
.imgbox{
    width: 50%;
    border-radius: 5px;
    height: 500px;
    margin: auto;
}
h2{
    color: tomato;
}
.coment button{
    width: 200px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

/* 제일 작은사이즈 : 700px이하 */
@media (max-width:700px){

    .spaceWrap{
        display: flex;
        flex-direction: column;
    }
    .imgbox{
        width: 100%;
    }
    .spaceWrap{
        width: 90%;
    }    
    p{
        font-size: 1rem;
    }
}    