@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} * {
    outline: none;
    box-sizing: border-box;
    font-family: 'SUIT-Medium';
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
.space{
    color: #212121;
}
.space:hover{
    transition: 0.5s;
    font-weight: bold;
    transition: .0s;
    box-shadow: 2px 5px 5px #000;
}




@media (max-width:700px ){
    h1 {
        font-size: 1.5rem;
        
    }
    h3{
        font-size: 0.8rem;
        color: tomato;
    }
    .spacebackground{
        display: block;
        background: #000;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
    }
    .spaceWrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    /* D-Day전 스페이스s */
    .startSpace{
        text-align: center;
        flex: 1;
        margin: 5px;
        margin-top: 80px;
        min-height: 250px;

    }
    .startSpace{
        overflow: auto;
    }
    .stspace-box{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .space{
        border-radius: 7px;
        margin: 15px;
        width: 100%;
        max-width: 600px;
        border: 2px solid #000;
        height: 150px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 0.8rem;
        
    }
    .travel-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .travel-info li{
        padding-top: 5px;
    }
    .space-item{
        font-weight: bold;
    }
    
    .space-info{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .space-info li:nth-child(2){
        width: 90px;
        height: 90px;
        border-radius: 5px;
        border: 2px solid #e0e0e0;
        overflow: hidden;
    }
    .space-info li:nth-child(2) img{
        width: 100%;
        height: 100%;
    }/* D-Day전 스페이스end */


/* 종료된 스페이스 영역 */
    .endSpace{
        overflow: auto;
        text-align: center;
        flex: 1;
        overflow: auto;
        margin: 5px;
        margin-top: 80px;
    }
    .spbutton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .spbutton button{
        width: 40px;
        height: 40px;
        background: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
        font-size: 1rem;
    }
    .spbutton li:nth-child(1) button:hover{
        color: #fff;
        background: #c4001d;
    }
    .spbutton li:nth-child(2) button:hover{
        color: #000;
        background: #fff9c4;
    }
}
@media (min-width:701px )and (max-width:1439px){ 
    h1 {
        font-size: 2rem;
    }
    h3{
        font-size: 0.9rem;
        color: tomato;
    }
    .spacebackground{
        display: none;
    }
    .spaceWrap{
        display: flex;
        width: 100%;
        margin: 50px auto;
    }
    /* D-Day전 스페이스s */
    .startSpace{
        text-align: center;
        flex: 1;
        margin: 5px;

    }
    .startSpace{
        overflow: auto;
    }
    .stspace-box{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .space{
        border-radius: 7px;
        margin: 15px;
        width: 100%;
        max-width: 600px;
        border: 2px solid #000;
        height: 150px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 0.8rem;
        
    }
    .travel-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .travel-info li{
        padding-top: 5px;
    }
    .space-item{
        font-weight: bold;
    }
    
    .space-info{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .space-info li:nth-child(2){
        width: 90px;
        height: 90px;
        border-radius: 5px;
        border: 2px solid #e0e0e0;
        overflow: hidden;
    }
    .space-info li:nth-child(2) img{
        width: 100%;
        height: 100%;
    }/* D-Day전 스페이스end */


/* 종료된 스페이스 영역 */
    .endSpace{
        overflow: auto;
        text-align: center;
        flex: 1;
        overflow: auto;
        margin: 5px;
    }
    .spbutton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .spbutton button{
        width: 40px;
        height: 40px;
        background: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
        font-size: 1rem;
    }
    .spbutton li:nth-child(1) button:hover{
        color: #fff;
        background: #c4001d;
    }
    .spbutton li:nth-child(2) button:hover{
        color: #000;
        background: #fff9c4;
    }

}    



/* 큰사이즈 : 1440px이상부터 적용 */
@media (min-width:1440px ){ 

    h1 {
        font-size: 2rem;
    }
    h3{
        font-size: 0.9rem;
        color: tomato;
    }


    .spacebackground{
        display: none;
    }
    .spaceWrap{
        display: flex;
        width: 80%;
        margin: 50px auto;
    }
    /* D-Day전 스페이스s */
    .startSpace{
        text-align: center;
        flex: 1;

    }
    .startSpace{
        overflow: auto;
    }
    .stspace-box{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .space{
        border-radius: 7px;
        margin: 15px;
        width: 70%;
        max-width: 600px;
        border: 2px solid #424242;
        height: 150px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 0.9rem;
    }
    .travel-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .travel-info li{
        padding-top: 5px;
    }
    .space-item{
        font-weight: bold;
    }
    
    .space-info{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .space-info li:nth-child(2){
        width: 90px;
        height: 90px;
        border-radius: 5px;
        border: 2px solid #e0e0e0;
        overflow: hidden;
    }
    .space-info li:nth-child(2) img{
        width: 100%;
        height: 100%;
    }/* D-Day전 스페이스end */


/* 종료된 스페이스 영역 */
    .endSpace{
        overflow: auto;
        text-align: center;
        flex: 1;
        overflow: auto;
    }
    .spbutton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .spbutton button{
        width: 40px;
        height: 40px;
        background: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
        font-size: 1rem;
    }
    .spbutton li:nth-child(1) button:hover{
        color: #fff;
        background: #c4001d;
    }
    .spbutton li:nth-child(2) button:hover{
        color: #000;
        background: #fff9c4;
    }
}
