@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
        *{
            outline: none;
            box-sizing: border-box;
            font-family: 'SUIT-Medium';
        } 
        img {
            max-width: 100%;
        } 
        li{
            list-style: none;
        }
        body {
            background-color:gray;
        } 
        a{
            text-decoration: none;
        }
        hr{
            background:#eeeeee;
            height:1px;
            border:0;
        }
        h4{
            color: #000;
        }
        p{
            margin: 0;
        }
        .addr{
            color: tomato;
        }
        .container {
            width: 100%;
            height: 1000px;
            background-color: #fff;
            display: flex;
            overflow: hidden;
            border-radius: 3px;
            font-size: 15px;
        }
        .sidebar {
            width: 220px;
            display: flex;
            flex-direction: column;
            border-right: 2px solid #000;
            background: #fff;
        }
        .sidebar_logo {
            margin-left: 30px;
            margin-top: 15px;
            text-decoration: none;
            width: 150px;
            height: 50px;
            overflow: hidden;
        }
        .sidebar_logo img{
            width: 100%;
            height: 100%;
        }
        .side_menu_list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding-left: 0;
            font-size: 14px;
            font-weight: lighter;
        }
        .side_menu p{
            margin: 40px 0px 0px 0px;
            font-size: 8px;
            color:#bdbdbd;
        }
        .menuWrap{
            float: left ;
        }
        .side_menu_list p{
            font-weight: bold;
            font-size: 8px;
        }
        .side_menu_list a{
            text-decoration: none;
            color: #000;
        }
        .menu_btn{
            display: flex;
            flex-direction: column;
            padding-left: 0;
        }
        .menu_btn a{
            color: #000;
        }
        .setting-wrap{
            display: flex;
            align-items: flex-end;
        }
        
        .wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            
        }
        
        .header {
            display: flex;
            align-items: center;
            padding: 12px;
            color: #fff;
            background: #000;
        }
        .fontwrap{
            display: flex;
        }
        .fontwrap p{
            margin-left: 15px;
            font-size: 1.5rem;
        }
        .user_profile{
            margin: 50px auto 0px auto;
            width: 100px;
            height: 100px;
            border: 1px solid #e0e0e0;
            border-radius:50%;
            overflow: hidden;
        }
        .profile-img{
            width: 100%;
            height: 100%;
        }
        .menu_item{
            width: 218px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menu_item:hover{
            background: #000;
            color: #fff;
        }
        .space_wrap {
            display: flex;
            width: 13%;
            height: 50px;
            border: 1px solid #000;
            background: #fff;
            border-radius: 15px;
            align-items: center;
            padding-left: 20px;
            margin-left: auto;
            color: #000;
        }
        .user_count{
            font-size: 14px;
            color: #01579b;
        }
        .user-img {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            object-fit: cover;
            border: 1px solid #000;
            border-radius: 50%;
            background: #fff;
        }
        .user-name {
            font-size: 14px;
            margin: 0 6px 0 12px;
        }
        .main_Wrap{
            display: flex;
            width: 100%;
            height: 100%;

        }
        .inputbox{
            width: 60%;
            height: 100%;
            margin: auto;
            background: #fff;
            overflow: auto;
        }
        .dateWrap{
            width: 90%;
            margin:30px auto 0px auto;
            text-align: center;
        }
        .nameWrap{
            width: 100%;
            text-align: center;
            font-size: 1.5rem
        }
        .nameWrap input{
            width: 50%;
            height: 35px;
            border:  1px solid #e0e0e0;
            border-radius: 55px;
            text-align: center;
        }
        .dateWrap p{
            font-size: 24px;
            margin: 0;
        }
        .dateinput{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
            margin-bottom: 30px;
            padding-left: 0;
        }
        .dateinput input[type=text]{
            width: 120px;
            height: 35px;
            text-align: center;
            border: 0;
            margin: 15px;
            border-bottom: 2px solid;
        }
        .dateinput input:focus{
            border-bottom: 4px solid;
        }
        .keytitle{
            width: 100%;
            text-align: center;
            font-size: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px auto 10 auto;
        }
        .keytitle h3 ,h4{
            margin: 0px;
        }
        .keytitle h4{
            font-size: 15px;
            color: tomato;
        }
        .catagoryWrap{
            width: 90%;
            margin-top: 50px;
            height: 150px;
            margin: 0px auto 30px auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 0;
        }
        .catagoryWrap input{
            display: none;
        }
        .itemown input[type=radio]:checked + .listitem{
            display: flex;
            border-radius: 50%;
            border: 10px solid tomato;
            background-color: tomato;
            transition: all 0.3s;
            cursor: pointer;
            padding: 5px;
        }
        .listitem{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #e0e0e0;
            border: 2px solid #e0e0e0;
            padding: 5px;
        }
        .listitem img{
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: all 0.3s;
        }
        .listitem:hover{
            border: 15px unset #000;
            transition: all 0.7s;
        }
        .itemown{
            overflow: hidden;
            text-align: center;
            display: flex;
            flex-direction: column;
            
        }
            
        .friendWrap{
            width: 90%;
            height: 150px;
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            margin: 0px auto 30px auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 0;
            

        }
        .friend_items{
            width: 10%;
            height: 40px;
            border: 1px solid #e0e0e0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            margin: 5px;
        }

        .addr_area{
            width: 90%;
            height: 150px;
            border: 1px solid #000;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        #open-modal {
            border: none;
            background-color: #000;
            border-radius: 1.5rem;
            font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;
            color: #fff;
            user-select: none;
            transition: all 0.3s ease-in-out;
        }
        
        #open-modal:hover {
            background-color: #eeeeee;
            color: #000;
        }
        
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
        }
        
        .modal-content {
            height: 350px;
            margin:15% auto;
            max-width: 500px;
            background-color: #fff;
            padding: 20px;
            animation: scale 0.5s ease;
            border-radius: 10px;
            box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
            100px 100px 80px rgba(0, 0, 0, 0.05);
        }
        .modal-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .modal-body {
            margin-top: 5px;
        }
        .modal-list{
            display: flex;
            list-style: none;
            margin: 5px;
        }
        .modal-list button{
            width: 60px;
            height: 45px;
            font-size: 1.5rem;
            margin-left: 15px;
            border-radius: 5px;
            background: white;
            border: 1px solid #e0e0e0;
        }
        .modal-list button:hover{
            background: #212121;
            color:#fafafa;
        }
        #close-modal {
            float: right;
            font-size: 1.8rem;
            font-weight: bold;
            cursor: pointer;
            color: red;
        }
        @keyframes scale {
            from {
            transform: scale(0);
            }
        
            to {
                transform: scale(1);
            }
        }
        .inputId{
            width: 80%;
            height: 30px;
        }
        .area_wrap{
            width: 90%;
            height: 150px;
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            margin: 0px auto 30px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 0;
        }
        .area_wrap li{
            width: 90px;
            height: 30px;
            border-radius: 15px;
            border: 1px solid #e0e0e0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
        }
        .listTop{
            display: flex;
            justify-content: center;
            padding-left: 0;
        }
        .listdown{
            display: flex;
            justify-content: center;
            padding-left: 0;
        }
        .btnList{
            width: 90%;
            text-align: center;
            margin: auto;
        }
        .btnList button{
            width: 150px;
            height: 35px;
            border:none;
            border-radius: 5px;
            cursor: pointer;
        }
        .toggle3{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 0;
            
        }
        .addrLabel{
            width: 150px;
            height: 150px;
            border: 1px solid #e0e0e0;
            display: flex;
            align-items: center;
        }
        .toggle3 input[type=checkbox]{
            display: none;
        }
        .toggle3 input[type=checkbox] + label {
            font-size: 1em;
            display: flex;
            justify-content: center;
            align-content: center;
            color: #000;
            border-radius: 15px;
            width: 100px;
            height: 30px;
            border: 1px solid e0e0e0;
            margin: 5px;
            
        }
        .toggle3 input[type=checkbox]:checked + label {
            color: #fff;
            background: tomato;
            
        }




