body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gowun Dodum', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background: #757575;
}
.navbar__seacrhbox{
    width: 70%;
    text-align: center;
}
.navbar__seacrhbox input{
    width: 60%;
    height: 35px;
}
.navbar__seacrhbox select{
    height: 35px;
}
.navbar__list{
    display: flex;
    padding-left: 0;
}
.navbar__list li{
    margin-left: 35px;
}
.info_head{
    display: flex;
}

.container1{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #f5f5f5;
    margin: 100px auto 0 auto;
    background: #cfd8dc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info_head{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 15px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    
}
.info_haed_nav{
    flex-direction: column;
    padding-left: 0;
    text-align: center;
}
.info_head_profile{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}
.info_head_profile img{
    width: 100%;
    height: 100%;
}

.info_main{
    width: 90%;
    margin: 15px auto;
}
.main_item1{
    min-height: 150px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 35px;
    background: white;
    border-radius: 5px;
}
.main_item1_head{

    font-weight: bold;
    margin: 0;
    padding: 15px;
}
.main_item1_head li{
    margin-left: 5px;
}
.main_item1_body{
    border-top:1px solid #f5f5f5;
    height: 70%;
    padding: 15px;
}
.main_item2{
    display: flex;
    height: 90px;
}
.main_item2_quetion{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.que_title{
    flex-direction: column;
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-left: 0;
}
.que_body{
    font-size: 35px;
    color: #1b5e20;
}

.main_item2_answer{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.main_item2_answer:hover{
    background: black;
    color: white;
}
.main_item2_quetion:hover{
    background: black;
    color: white;
}
.ans_title{
    flex-direction: column;
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-left: 0;
}
.ans_body{
    font-size: 35px;
    color: #f06292;
}


.main_item2_answer{
    flex: 1;
    margin-left: 15px;
    background: white;
}
.main_itembox{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-weight: bold;
    background: #fafafa;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.main_itembox span{
    font-size: 35px;
    color: #f06292;
}
.main_itembox:hover{
    color:white;
    background: black;
}

.container2{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #cfd8dc;
    

    margin: auto;
}


.itembox_list{
    padding-left:0;
    margin:0;
    font-size: 24px;
}
.infobox{
    width:90%;
    margin:15px auto;
    border-bottom: 1px solid white
}
.infobox_head{
    padding-left: 0;
    font-weight: bold;
}
