@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'SUIT-Medium';
}
a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 8px 16px;
    background: #616161;
    height: 80px;
}
li{
    list-style: none;
}
table{
    border-collapse: collapse;    
}
td,th,tr{
    text-align: center;
}


.navbar_icon{
    font-size: 24px;
    color: #fafafa;
}
.navbar_centerMenu{
    display: flex;
    padding-left: 0;
}
.navbar_centerMenu li:hover{
    background: white;
    border-radius: 10px;
}
.navbar_centerMenu li{
    padding: 8px 16px;
}

/* 오른쪽 상태창 */
.navbar_rightState{
    display: flex;
}
.profile{
    border: 1px solid;
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 20px;
    border-radius: 30px;
}
.profile img{
    overflow: hidden;
    width: 100%;
}
.state{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container{
    width:90%;
    height: 100%;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.dashboard_wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dashboard_box{
    display: flex;
    flex-direction: column;
    padding: 12px 6px;
    font-size: 24px;
    border:1px solid #eeeeee;
    margin: 15px;
    width:250px;
    text-align: center;
}
.dashboard_box i{
    font-size: 90px;
}
.dashboard_img img{
    width: 100%;
    height: 90px;
}
.dashboard_img img{
    width: 100%;
}
.border {
    padding: 16px 12px;
    font-size: 24px;
}
.weeklybox{
    display: flex;
    justify-content: center;
}
.boadertablebox{
    display:flex;
    justify-content: center;
}

.boadertable {
    width: 80%;
    height: 150px;
}
.backgroudblack{
    background: gray;
}
.borderline{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
